# Python
*.pyc
__pycache__/
venv/
.venv/

# Datasets
data/
data_ISIC/
data_carvana/
*.jpg
*.png

# Training outputs
checkpoints/
results/
*.pth

# Experiment tracking
wandb/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db